<div id="sub-nav" class="nav-container collapsible" role="navigation" data-behavior="Collapsible">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Doc Index
  </a>
  <div class="nav-content shallow-nav">
  </div>
</div>
